html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dark-theme {
    background-color: #181a1b;
    color: #e0e0e0;
}

.dark-theme .navbar,
.dark-theme .footer,
.dark-theme .bg-dark {
    background-color: #23272b !important;
}

.dark-theme .nav-link,
.dark-theme .navbar-brand,
.dark-theme .footer,
.dark-theme a,
.dark-theme .text-light {
    color: #e0e0e0 !important;
}

.dark-theme .border-top {
    border-top: 1px solid #444 !important;
}

.dark-theme .box-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.5) !important;
}